body {
    background-color:#e6e6e6;
  }  
  h1{
    font: normal bolder 150% Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color:white;
    margin: 10px 25px 10px 25px;
    color: #25a561;
  }
  h2{
    font: normal bold 1.3em Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    letter-spacing: 110%;
    color:black;
  }
  h3{
    font: normal bold italic 110% Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0 25px 0 25px;
    color: #25a561;
    border-top: 1px solid #32686a;
  }
  p{
    font: normal 0.8em Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 3%;
    text-align: justify;
    margin: 5px 25px 5px 25px;
  }
  ul{
    font: normal italic 110% Arial, Helvetica, sans-serif;
    color: #25a561;
  }
 